data/raw/
data/processed/
__pycache__/
*.pyc
.env
.ipynb_checkpoints/
storage_object_admin_key.json
*_admin_key.json
*.log
CLAUDE.md
**/CLAUDE.md
data/extracted_entities/*
data/extracted_entities_linked/*
*.txt
*.pdf
