data/raw/
data/processed/
__pycache__/
*.pyc
.env
.ipynb_checkpoints/
storage_object_admin_key.json
*_admin_key.json
*.log
CLAUDE.md
**/CLAUDE.md
amici/data/extracted_entities/*
amic/data/extracted_entities_linked/*
*.txt
*.pdf
*.json
**/.hypothesis/*
**batch**output.jsonl
**hitl_state**.pkl
**~$**.xlsx
**.DS_Store
**DS_Store
**amicus_name_updates**
**.db.backup**
**batch**.jsonl
amici/deduplication/data/*